*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header  */
#search-box{
    background-color: #fff;
    border-radius: 30px;
}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0px;
    transition: all 0.25s;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 300px;
    padding: 10px 0px 10px 15px;
}
#search-box #search-btn{
    background-color: #fff;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}